<!DOCTYPE HTML>
<html>
	<head>
		<title>Edit Profile</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="../static/assets/css/main.css" />

	</head>
	<body class="is-preload">



		<!-- Main -->
		<section id="main" class="wrapper">
			<div class="inner">
				<div class="content">
					<!-- Elements -->

					<div class="row">
						<div class="col-2"></div>
						<div class="col-8">
                           <h3 class="centered">Edit Profile</h3>
							<form method="POST" action="/profile">
								<div class="row gtr-uniform">

											<div class="col-6 col-12-xsmall">
                                                <input type="text" name="city" id="city" value="" placeholder="City" />
											</div><br>
											<div class="col-6 col-12-xsmall">
												<input type="text" name="name" id="name" value="" placeholder="Name" />
											</div><br>
											<div class="col-6 col-12-xsmall">
												<input type="text" name="company" id="company" value="" placeholder="Company name" />
											</div><br>
											<div class="col-6 col-12-xsmall">
												<input type="text" name="phone" id="phone" value="" placeholder="Phone" />
											</div>

									<br>
									<div class="row">

										<div class="col-12">
                                           <ul class="actions">
												<li><input type="submit" value="Confirm" class="primary" /></li>
												<li><input type="reset" value="Reset" class="btn btn-light" /></li>
											</ul>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Scripts -->
			<script src="../static/assets/js/jquery.min.js"></script>
			<script src="../static/assets/js/browser.min.js"></script>
			<script src="../static/assets/js/breakpoints.min.js"></script>
			<script src="../static/assets/js/util.js"></script>
			<script src="../static/assets/js/main.js"></script>

	</body>
</html>