<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_079097512c62462dbf79858577901639 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_079097512c62462dbf79858577901639" ></div>
        
</body>
<script>    
    
            var map_079097512c62462dbf79858577901639 = L.map(
                "map_079097512c62462dbf79858577901639",
                {
                    center: [0.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2531a13db01e494f8cb73492dd66399c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_079097512c62462dbf79858577901639);
        
    
            var marker_998a82a9688c4973b91938441110ed3a = L.marker(
                [0.0, 0.0],
                {}
            ).addTo(map_079097512c62462dbf79858577901639);
        
    
            var icon_03b2acacffaf4af290b113be0b9611b6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_998a82a9688c4973b91938441110ed3a.setIcon(icon_03b2acacffaf4af290b113be0b9611b6);
        
    
        var popup_db503e38a91543c1b8663a12de59308c = L.popup({"maxWidth": "100%"});

        
            var html_9159ec3834d2445c9d017e3d9dd04d93 = $(`<div id="html_9159ec3834d2445c9d017e3d9dd04d93" style="width: 100.0%; height: 100.0%;"><strong>1006763</strong></div>`)[0];
            popup_db503e38a91543c1b8663a12de59308c.setContent(html_9159ec3834d2445c9d017e3d9dd04d93);
        

        marker_998a82a9688c4973b91938441110ed3a.bindPopup(popup_db503e38a91543c1b8663a12de59308c)
        ;

        
    
    
            marker_998a82a9688c4973b91938441110ed3a.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_4615d123b9d34aba9f2d3ce575e870c1 = L.circleMarker(
                [0.0, 0.0],
                {"bubblingMouseEvents": true, "color": "#428bca", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#428bca", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 30, "stroke": true, "weight": 3}
            ).addTo(map_079097512c62462dbf79858577901639);
        
    
        var popup_fef6616857f34efe99949a1252e33580 = L.popup({"maxWidth": "100%"});

        
            var html_70f6ed25e590421a90ad320793bdc50b = $(`<div id="html_70f6ed25e590421a90ad320793bdc50b" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
            popup_fef6616857f34efe99949a1252e33580.setContent(html_70f6ed25e590421a90ad320793bdc50b);
        

        circle_marker_4615d123b9d34aba9f2d3ce575e870c1.bindPopup(popup_fef6616857f34efe99949a1252e33580)
        ;

        
    
</script>