<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_301373dedc2b405ba5b5913204b316c3 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_301373dedc2b405ba5b5913204b316c3" ></div>
        
</body>
<script>    
    
            var map_301373dedc2b405ba5b5913204b316c3 = L.map(
                "map_301373dedc2b405ba5b5913204b316c3",
                {
                    center: [35.77072, 10.82273],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_792d53e150324cdfb1c35e7eb4d3b5e0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_301373dedc2b405ba5b5913204b316c3);
        
    
            var marker_3b5127b51bba4d068212508e3db7f91b = L.marker(
                [35.77072, 10.82273],
                {}
            ).addTo(map_301373dedc2b405ba5b5913204b316c3);
        
    
            var icon_8134ab5e6d9e426aa9b9eb564aa0b088 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "cloud", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_3b5127b51bba4d068212508e3db7f91b.setIcon(icon_8134ab5e6d9e426aa9b9eb564aa0b088);
        
    
        var popup_369252abe0624116b8d98d5be3fd2fed = L.popup({"maxWidth": "100%"});

        
            var html_5fa789040ba54cd7a2c0aa1449d33d0a = $(`<div id="html_5fa789040ba54cd7a2c0aa1449d33d0a" style="width: 100.0%; height: 100.0%;"><strong>Speed: 5.1 ID:1006763</strong></div>`)[0];
            popup_369252abe0624116b8d98d5be3fd2fed.setContent(html_5fa789040ba54cd7a2c0aa1449d33d0a);
        

        marker_3b5127b51bba4d068212508e3db7f91b.bindPopup(popup_369252abe0624116b8d98d5be3fd2fed)
        ;

        
    
    
            marker_3b5127b51bba4d068212508e3db7f91b.bindTooltip(
                `<div>
                     Click for more info
                 </div>`,
                {"sticky": true}
            );
        
    
            var circle_marker_fd1888ebe7834074aa352d4f4829a0ab = L.circleMarker(
                [35.77072, 10.82273],
                {"bubblingMouseEvents": true, "color": "#428bca", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#428bca", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 30, "stroke": true, "weight": 3}
            ).addTo(map_301373dedc2b405ba5b5913204b316c3);
        
    
        var popup_92ce6ab8eb6b492cbbf9e9725261ae91 = L.popup({"maxWidth": "100%"});

        
            var html_b53187b6ff39437999dd6bff260262a5 = $(`<div id="html_b53187b6ff39437999dd6bff260262a5" style="width: 100.0%; height: 100.0%;">Location</div>`)[0];
            popup_92ce6ab8eb6b492cbbf9e9725261ae91.setContent(html_b53187b6ff39437999dd6bff260262a5);
        

        circle_marker_fd1888ebe7834074aa352d4f4829a0ab.bindPopup(popup_92ce6ab8eb6b492cbbf9e9725261ae91)
        ;

        
    
</script>