<!DOCTYPE HTML>
<html>
	<head>
		<title>Welcome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="../static/assets/css/main.css" />
	</head>

	<body class="is-preload">
		<!-- Header -->
		<header id="header">
			<a class="logo" href="{{ url_for('index') }}">SDGT</a>
			<nav>
				<a href="#menu">Menu</a>
			</nav>
		</header>

		<!-- Nav -->
		<nav id="menu">
			<ul class="links">
				<li><a href="{{ url_for('index') }}">Home</a></li>
				<li><a href="{{ url_for('login') }}">Log In</a></li>
				<li><a href="{{ url_for('signup') }}">Sign Up</a></li>
			</ul>
		</nav>

		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h1>On-demand Shipment Monitoring Services</h1>
                <h3 style="color: darkgoldenrod">Select What You Need</h3>
			</div>
			<video autoplay loop muted playsinline src="../static/images/banner.jpg"></video>
		</section>


		<!-- Highlights -->
		<section class="wrapper">
			<div class="inner">
				<div class="highlights">
					<section>
						<div class="content">
							<header>
								<div class="card card-shadow mb-1">
                                    <a href="{{ url_for('multimodel_shipment_tracking') }}">
                                        <div  style="padding-bottom: 0; padding-top: 15px">
                                            <img src="/static/images/Multimodal-Shipment-Tracking.png"
                                                 alt="img" class="img-card" height="200">
                                        </div>
                                        <br>

                                    </a><div style=" padding-top: 0; padding-bottom: 0; ">
                                        <h2 style="font-weight:700">Multimodel Shipment Tracking </h2>
                                    </div>
                                </div>
							</header>
						</div>
					</section>
					<section>
						<div class="content">
                            <header>
                                <div class="card card-shadow mb-4">
                                    <a href="{{ url_for('pharma_cold') }}">
                                        <div  style="padding-bottom: 0; padding-top: 15px">
                                            <img src="/static/images/Pharma-Cold-Chain-Monitoring-1.png" alt="img" class="img-card" height="200"></div>
                                        </a><br>
                                    <h2 style="font-weight:700">Pharma Cold Chain Monitoring</h2>
                                </div>
                            </header>

						</div>
					</section>
					<section>
						<div class="content">
						 <header>
                             <div class="card card-shadow mb-4">

                                    <a href="{{ url_for('spoilage_monitoring') }}">
                                        <div  style="padding-bottom: 0; padding-top: 15px">
                                            <img src="/static/images/Spoilage-Monitoring-1.png" alt="img" class="img-card" height="200"></div>
                                        </a><br>
                                    <h2 style="font-weight:700">Spoilage Monitoring</h2>
                              </div>
                            </header>
						</div>
					</section>

				</div>
			</div>
		</section>

		<!-- CTA -->
		<section id="cta" class="wrapper">
			<div class="inner">
			</div>
		</section>


		<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<div class="row">
					<div class="col-4">
						<section>
							<h4>Follow Us on Social Media</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
							</ul>
						</section>
					</div>
					<div class="col-8 copyright">
						<br>
						&copy; Copyrights <strong>SDGT</strong> | All Rights Reserved
					</div>
				</div>
			</div>
		</footer>

		<!-- Scripts -->
		<script src="../static/assets/js/jquery.min.js"></script>
		<script src="../static/assets/js/browser.min.js"></script>
		<script src="../static/assets/js/breakpoints.min.js"></script>
		<script src="../static/assets/js/util.js"></script>
		<script src="../static/assets/js/main.js"></script>

	</body>
</html>